.main-footer {
    display: none;
}

.navbar-fixed-top {
    position: relative;
}

.navbar-default {
    background-color: rgba(238,238,238,1);
    margin: 0;
}

.main-wrapper {
    padding-top: 1em;
    height: 93.5vh;
    background: rgba(0, 0, 0, 0.5) url('../images/abstract-opt.jpg');
    background-position: 50% 0;
}

.main-container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.map-container {
    height: auto;
    min-height: 100%;
    margin: 0;
    padding-left: 0;
}

.map-container > map {
    min-height: 500px;
    width: 100%;
}

.addr-input {
    width: 97.5%;
    height: 55px;
    font-size: 1em;
    padding: 1em 10% 1em 1em;
    margin-bottom: 0.5em;
    outline: 0;
    transition: all 225ms ease;
    color: black;
    font-family: "Lato", "Open Sans", sans-serif;
    background: rgba(217, 223, 236, 0.75);
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.addr-input:focus, .addr-input:hover{
    background-color: white;
}

.search-spot {
    position: absolute;
    top: 12px;
    right: 8%;
    color: #1d99d6;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.search-spot:hover {
    color: steelblue;
}

.match-list {
    padding: 0.5em 0.5em 0.5em 0;
    width: 100%;
    height: auto;
    max-height: 79vh;
    overflow-y: scroll;
}

.match-list > .match {
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    height: 100px;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.1em;
    background-color: white;
    border: 2px solid black;
    color: #222;
    cursor: pointer;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    -webkit-transition: all 225ms ease-in-out;
    -moz-transition: all 225ms ease-in-out;
    -ms-transition: all 225ms ease-in-out;
    -o-transition: all 225ms ease-in-out;
    transition: all 225ms ease-in-out;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.75);
}

.match:hover {
    background-color: #222;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.match .info-preview {
    float: right;
    height: 100%;
    width: 50%;
    padding: 2px;
    margin: 0;
    position: relative;
}

.match .spot-name {
    float: left;
    padding: 0 5px 0 5px;
    height: 100%;
    width: 42%;
    margin-right: 10px;
}

.match .spot-name > h3 {
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: -2px;
    margin: 0;
    position: relative;
    top: 50%;
    font-family: 'Old Standard TT', 'Open Sans', sans-serif;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.match:hover .spot-name > h3 {
    color: white;
}

.or-spacer-vertical {
    display: inline-block;
    width: 10px;
    margin-top: 5px;
}

.or-spacer-vertical .mask {
    overflow: hidden;
    width: 10px;
    height: 80px;
}

.or-spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -10px;
    width: 10px;
    height: 80px;
    -webkit-border-radius: 12px / 125px;
    -moz-border-radius: 12px / 125px;
    border-radius: 12px / 125px;
    -webkit-box-shadow: 0 0 8px black;
    -moz-box-shadow: 0 0 8px black;
    box-shadow: 0 0 8px black;
}

.distance {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 2em;
    display: inline-block;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.match:hover .distance {
    color: white;
}

.category-list {
    padding-left: 5px;
    padding-top: 2px;
    border-right: 1px dotted gray;
    padding-right: 5px;
    display: inline-block;
    position: absolute;
    right: 45px;
}

.match:hover .category-list i {
    color: white;
}

.category-list-levels {
    padding-left: 6px;
    display: inline-block;
    position: absolute;
    right: 5px;
    width: 42px;
}

.category-list-levels li {
    height: 20px;
}

.category-list li {
    margin-bottom: 6px;
}

.category-range {
    display: block;
}

.desktop, .desktop:hover, .desktop:visited {  color: black;  }
.fb, .fb:hover, .fb:visited {  color: #3a5795;  }
.insta, .insta:hover, .insta:visited {  color: #381A13;  }
.yelp, .yelp:hover, .yelp:visited {  color: #c41200;  }
.gray, .gray:hover {  color: gray;  }
.bad {  color: red;  }
.decent { color: yellow;  }
.good {  color: green;  }


.down-arrow {
    display: block;
    width: 24px;
    margin: 4px auto 0 auto;
    cursor: pointer;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% { color: #004A7F; }
    50% { color: #0094FF; }
    100% { color: #004A7F; }
}

@-moz-keyframes glowing {
    0% { color: #004A7F; }
    50% { color: #0094FF; }
    100% { color: #004A7F; }
}

@-o-keyframes glowing {
    0% { color: #004A7F; }
    50% { color: #0094FF; }
    100% { color: #004A7F; }
}

@keyframes glowing {
    0% { color: #004A7F; }
    50% { color: #0094FF; }
    100% { color: #004A7F; }
}


@media (max-width: 768px) {
    /* hide desktop details, add spot button on mobile */
    .map-container {
        display: none;
    }

    .match-list .match {
        /*height: 150px;*/
    }

    .match .spot-name {
        width: 35%;
    }

    .info-preview {
        width: 55%;
    }

    .or-spacer-vertical .mask, .or-spacer-vertical.left .mask:after {
        /*height: 130px;*/
    }
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 736px){*/
    /*.main-wrapper {*/
        /*height: 100%;*/
    /*}*/
/*}*/

@media (min-width: 768px){
    .matches-container {
    }
}