<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>There are only a handful of good study spots available here.</h1>
            <hr>
            <p>Wouldn't it be great if all of the best areas to get some studying done in Chicagoland were documented in one place? <br> Now they are.</p>
            <a href="#spots" class="btn btn-primary btn-xl page-scroll">Browse Study Spots!</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is #MoreStudySpots?</h2>
                <hr class="light">

                <a href="#spots" class="btn btn-default btn-xl">Browse!</a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="">
            </div>
            <div class="col-lg-8">
                <h2 class="section-heading">Question, Comment or Suggestion?</h2>

                <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here." rows="7"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>